[Unit]
Description=Docker RBAC & ABAC Authorization Plugin based on Casbin
Before=docker.service
After=network.target casbin-authz-plugin.socket
Requires=casbin-authz-plugin.socket docker.service

[Service]
ExecStart=/usr/lib/docker/casbin-authz-plugin
WorkingDirectory=/usr/lib/docker

[Install]
WantedBy=multi-user.target
